.xpopover {
    position: absolute;
    z-index: 2;
    border-radius: 0 !important;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    text-align: left;
    border: 1px solid #cccccc;
    background-color: #FFFFFF;
    background-clip: padding-box;
    left: inherit;
    cursor: pointer;
}

.selected{
    background-color: #58FAF4;
    font-weight: bold;
}

.tag{
    background-color: #F3E2A9;
    border-radius: 3px;
}

.xclose{
    cursor: pointer;
}

.editable{
    cursor: pointer;
}

.minus-month{
    cursor: pointer;
}

.plus-month{
    cursor: pointer;
}

.calendar-day{
    cursor: pointer;
}

.calendar-day:hover{
    background-color: #58FAF4;
}

.bold{
 font-weight: bold;   
}

.invisible{
display: none;

}

.xpopover-calendar {
    position: absolute;
    z-index: 2;
    background-color: #F3E2A9;
}

.xbutton{
    background-color: #58FAF4;
    cursor: pointer;
}

.plus-hour, .minus-hour, .plus-minute, .minus-minute{
    cursor: pointer;
}

line.mark{
    cursor: pointer;
}

